In [2]:
!pip install -U scikit-learn

Collecting scikit-learn
  Using cached scikit_learn-1.2.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.6 MB)
Requirement already satisfied: scipy>=1.3.2 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (1.10.1)
Collecting joblib>=1.1.1
  Downloading joblib-1.3.0-py3-none-any.whl (301 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 301.9/301.9 kB 12.1 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (1.24.2)
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Installing collected packages: threadpoolctl, joblib, scikit-learn
Successfully installed joblib-1.3.0 scikit-learn-1.2.2 threadpoolctl-3.1.0

In [3]:
from matplotlib.ticker import (MultipleLocator, FormatStrFormatter,
                               AutoMinorLocator)
from interp_prep import *

In [6]:
def nmse(y_true, y_pred):
    differences = (y_true - y_pred)/y_true                      
    differences_squared = differences ** 2                    
    mean_of_differences_squared = np.mean(differences_squared)         
    return mean_of_differences_squared

In [4]:
path = r"/cxnfs/Mark/Data/cleaned_data/"
pm10 = pd.read_csv(path + 'pm10_cleaned.csv', index_col = 0, parse_dates = True)
pm25 = pd.read_csv(path + 'pm25_cleaned.csv', index_col = 0, parse_dates = True)
pm1 = pd.read_csv(path+'pm1_cleaned.csv', index_col = 0, parse_dates = True)

In [5]:
df_trial = pd.DataFrame()
subsets_trial = prep_for_interp(pm10, ' PM10 (µg/m^3)')
df_trial['non missing '] = [subset.dropna().shape[0] for subset in prep_for_interp(pm10, ' PM10 (µg/m^3)')]
df_trial['missing'] = index_misisngval_pair(subsets_trial)
df_trial['max time difference'] = ind_maxgap_pair(subsets_trial)
df_trial['max time difference'] = df_trial['max time difference'].round(decimals = 2)
df_trial['date range'] = [subset.index.to_series().astype(str)[0] + ' to ' +  subset.index.to_series().astype(str)[-1] for subset in prep_for_interp(pm10, ' PM10 (µg/m^3)')]
df_trial['sample interval (days)'] = [(subset.index[-1] - subset.index[0])/np.timedelta64(1, 'D') for subset in subsets_trial]
df_trial.index.name = 'Segment'
df_trial['sample interval (days)'] = df_trial['sample interval (days)'].round(decimals = 2)
df_trial

,non missing,missing,max time difference,date range,sample interval (days)
Segment,,,,,
0,23,0,1.0,2019-12-28 06:50:00 to 2019-12-28 07:12:00,0.02
1,250,0,1.0,2019-12-28 19:13:00 to 2019-12-28 23:22:00,0.17
2,7,0,1.0,2019-12-29 01:01:00 to 2019-12-29 01:07:00,0.00
3,28,0,1.0,2019-12-29 01:57:00 to 2019-12-29 02:24:00,0.02
4,14,0,1.0,2019-12-29 03:00:00 to 2019-12-29 03:13:00,0.01
5,7,0,1.0,2019-12-29 03:28:00 to 2019-12-29 03:34:00,0.00
6,21,0,1.0,2019-12-29 04:59:00 to 2019-12-29 05:19:00,0.01
7,35,0,1.0,2019-12-29 06:02:00 to 2019-12-29 06:36:00,0.02
8,7,0,1.0,2019-12-29 06:58:00 to 2019-12-29 07:04:00,0.00
9,46,0,1.0,2019-12-29 08:15:00 to 2019-12-29 09:00:00,0.03
10,35,0,1.0,2019-12-29 15:25:00 to 2019-12-29 15:59:00,0.02
11,470,0,1.0,2019-12-29 16:10:00 to 2019-12-29 23:59:00,0.33
12,25,0,1.0,2019-12-30 00:35:00 to 2019-12-30 00:59:00,0.02
13,22761,791,8.0,2019-12-30 01:10:00 to 2020-01-15 09:41:00,16.35
14,3441,8,2.0,2020-01-15 14:31:00 to 2020-01-17 23:59:00,2.39
15,12636,24,2.0,2020-01-19 00:00:00 to 2020-01-27 18:59:00,8.79
16,4305,9,2.0,2020-01-28 00:06:00 to 2020-01-30 23:59:00,3.00
17,150402,318,3.0,2020-02-01 00:00:00 to 2020-05-15 15:59:00,104.67
18,9498,2,2.0,2020-05-16 09:40:00 to 2020-05-22 23:59:00,6.60
19,2880,0,1.0,2020-05-26 00:00:00 to 2020-05-27 23:59:00,2.00
20,3919,2,3.0,2020-05-29 00:00:00 to 2020-05-31 17:20:00,2.72
21,2879,1,2.0,2020-06-12 00:00:00 to 2020-06-13 23:59:00,2.00
22,12956,4,2.0,2020-06-15 00:00:00 to 2020-06-23 23:59:00,9.00
23,20318,59,2.0,2020-06-25 00:00:00 to 2020-07-09 03:36:00,14.15

In [35]:
# converting df_trial (for pm10) to latex
df_trial.style.to_latex()

'\\begin{tabular}{lrrrlr}\n & non missing  & missing & max time difference & date range & sample interval (days) \\\\\nSegment &  &  &  &  &  \\\\\n0 & 23 & 0 & 1.000000 & 2019-12-28 06:50:00 to 2019-12-28 07:12:00 & 0.020000 \\\\\n1 & 250 & 0 & 1.000000 & 2019-12-28 19:13:00 to 2019-12-28 23:22:00 & 0.170000 \\\\\n2 & 7 & 0 & 1.000000 & 2019-12-29 01:01:00 to 2019-12-29 01:07:00 & 0.000000 \\\\\n3 & 28 & 0 & 1.000000 & 2019-12-29 01:57:00 to 2019-12-29 02:24:00 & 0.020000 \\\\\n4 & 14 & 0 & 1.000000 & 2019-12-29 03:00:00 to 2019-12-29 03:13:00 & 0.010000 \\\\\n5 & 7 & 0 & 1.000000 & 2019-12-29 03:28:00 to 2019-12-29 03:34:00 & 0.000000 \\\\\n6 & 21 & 0 & 1.000000 & 2019-12-29 04:59:00 to 2019-12-29 05:19:00 & 0.010000 \\\\\n7 & 35 & 0 & 1.000000 & 2019-12-29 06:02:00 to 2019-12-29 06:36:00 & 0.020000 \\\\\n8 & 7 & 0 & 1.000000 & 2019-12-29 06:58:00 to 2019-12-29 07:04:00 & 0.000000 \\\\\n9 & 46 & 0 & 1.000000 & 2019-12-29 08:15:00 to 2019-12-29 09:00:00 & 0.030000 \\\\\n10 & 35 & 0 & 1.000000 & 2019-12-29 15:25:00 to 2019-12-29 15:59:00 & 0.020000 \\\\\n11 & 470 & 0 & 1.000000 & 2019-12-29 16:10:00 to 2019-12-29 23:59:00 & 0.330000 \\\\\n12 & 25 & 0 & 1.000000 & 2019-12-30 00:35:00 to 2019-12-30 00:59:00 & 0.020000 \\\\\n13 & 22762 & 790 & 8.000000 & 2019-12-30 01:10:00 to 2020-01-15 09:41:00 & 16.350000 \\\\\n14 & 3441 & 8 & 2.000000 & 2020-01-15 14:31:00 to 2020-01-17 23:59:00 & 2.390000 \\\\\n15 & 12636 & 24 & 2.000000 & 2020-01-19 00:00:00 to 2020-01-27 18:59:00 & 8.790000 \\\\\n16 & 4305 & 9 & 2.000000 & 2020-01-28 00:06:00 to 2020-01-30 23:59:00 & 3.000000 \\\\\n17 & 150402 & 318 & 3.000000 & 2020-02-01 00:00:00 to 2020-05-15 15:59:00 & 104.670000 \\\\\n18 & 9498 & 2 & 2.000000 & 2020-05-16 09:40:00 to 2020-05-22 23:59:00 & 6.600000 \\\\\n19 & 2880 & 0 & 1.000000 & 2020-05-26 00:00:00 to 2020-05-27 23:59:00 & 2.000000 \\\\\n20 & 3919 & 2 & 3.000000 & 2020-05-29 00:00:00 to 2020-05-31 17:20:00 & 2.720000 \\\\\n21 & 2879 & 1 & 2.000000 & 2020-06-12 00:00:00 to 2020-06-13 23:59:00 & 2.000000 \\\\\n22 & 12956 & 4 & 2.000000 & 2020-06-15 00:00:00 to 2020-06-23 23:59:00 & 9.000000 \\\\\n23 & 20318 & 59 & 2.000000 & 2020-06-25 00:00:00 to 2020-07-09 03:36:00 & 14.150000 \\\\\n\\end{tabular}\n'

In [14]:
df_trial = pd.DataFrame()
subsets_trial = prep_for_interp(pm25, ' PM2.5 (µg/m^3)')
df_trial['non-missing'] = [subset.dropna().shape[0] for subset in prep_for_interp(pm25, ' PM2.5 (µg/m^3)')]
df_trial[' missing'] = index_misisngval_pair(subsets_trial)
df_trial['$\Delta{t}$'] = ind_maxgap_pair(subsets_trial)
df_trial['$\Delta{t}$'] = df_trial['$\Delta{t}$'].round(decimals = 2)
df_trial['date range'] = [subset.index.to_series().astype(str)[0] + ' to ' +  subset.index.to_series().astype(str)[-1] for subset in prep_for_interp(pm25, ' PM2.5 (µg/m^3)')]
df_trial.index.name = 'Segment'
df_trial

,non-missing,missing,$\Delta{t}$,date range
Segment,,,,
0,23,0,1.0,2019-12-28 06:50:00 to 2019-12-28 07:12:00
1,250,0,1.0,2019-12-28 19:13:00 to 2019-12-28 23:22:00
2,7,0,1.0,2019-12-29 01:01:00 to 2019-12-29 01:07:00
3,28,0,1.0,2019-12-29 01:57:00 to 2019-12-29 02:24:00
4,14,0,1.0,2019-12-29 03:00:00 to 2019-12-29 03:13:00
5,7,0,1.0,2019-12-29 03:28:00 to 2019-12-29 03:34:00
6,21,0,1.0,2019-12-29 04:59:00 to 2019-12-29 05:19:00
7,35,0,1.0,2019-12-29 06:02:00 to 2019-12-29 06:36:00
8,7,0,1.0,2019-12-29 06:58:00 to 2019-12-29 07:04:00
9,46,0,1.0,2019-12-29 08:15:00 to 2019-12-29 09:00:00
10,35,0,1.0,2019-12-29 15:25:00 to 2019-12-29 15:59:00
11,470,0,1.0,2019-12-29 16:10:00 to 2019-12-29 23:59:00
12,25,0,1.0,2019-12-30 00:35:00 to 2019-12-30 00:59:00
13,22783,769,8.0,2019-12-30 01:10:00 to 2020-01-15 09:41:00
14,3448,1,2.0,2020-01-15 14:31:00 to 2020-01-17 23:59:00
15,12658,2,2.0,2020-01-19 00:00:00 to 2020-01-27 18:59:00
16,4314,0,1.0,2020-01-28 00:06:00 to 2020-01-30 23:59:00
17,150540,180,3.0,2020-02-01 00:00:00 to 2020-05-15 15:59:00
18,9500,0,1.0,2020-05-16 09:40:00 to 2020-05-22 23:59:00
19,2880,0,1.0,2020-05-26 00:00:00 to 2020-05-27 23:59:00
20,3919,2,3.0,2020-05-29 00:00:00 to 2020-05-31 17:20:00
21,2879,1,2.0,2020-06-12 00:00:00 to 2020-06-13 23:59:00
22,12960,0,1.0,2020-06-15 00:00:00 to 2020-06-23 23:59:00
23,20322,55,2.0,2020-06-25 00:00:00 to 2020-07-09 03:36:00

In [40]:
df_trial.style.to_latex()

'\\begin{tabular}{lrrrl}\n & non-missing &  missing & $\\Delta{t}$ & date range \\\\\nSegment &  &  &  &  \\\\\n0 & 23 & 0 & 1.000000 & 2019-12-28 06:50:00 to 2019-12-28 07:12:00 \\\\\n1 & 250 & 0 & 1.000000 & 2019-12-28 19:13:00 to 2019-12-28 23:22:00 \\\\\n2 & 7 & 0 & 1.000000 & 2019-12-29 01:01:00 to 2019-12-29 01:07:00 \\\\\n3 & 28 & 0 & 1.000000 & 2019-12-29 01:57:00 to 2019-12-29 02:24:00 \\\\\n4 & 14 & 0 & 1.000000 & 2019-12-29 03:00:00 to 2019-12-29 03:13:00 \\\\\n5 & 7 & 0 & 1.000000 & 2019-12-29 03:28:00 to 2019-12-29 03:34:00 \\\\\n6 & 21 & 0 & 1.000000 & 2019-12-29 04:59:00 to 2019-12-29 05:19:00 \\\\\n7 & 35 & 0 & 1.000000 & 2019-12-29 06:02:00 to 2019-12-29 06:36:00 \\\\\n8 & 7 & 0 & 1.000000 & 2019-12-29 06:58:00 to 2019-12-29 07:04:00 \\\\\n9 & 46 & 0 & 1.000000 & 2019-12-29 08:15:00 to 2019-12-29 09:00:00 \\\\\n10 & 35 & 0 & 1.000000 & 2019-12-29 15:25:00 to 2019-12-29 15:59:00 \\\\\n11 & 470 & 0 & 1.000000 & 2019-12-29 16:10:00 to 2019-12-29 23:59:00 \\\\\n12 & 25 & 0 & 1.000000 & 2019-12-30 00:35:00 to 2019-12-30 00:59:00 \\\\\n13 & 22783 & 769 & 8.000000 & 2019-12-30 01:10:00 to 2020-01-15 09:41:00 \\\\\n14 & 3448 & 1 & 2.000000 & 2020-01-15 14:31:00 to 2020-01-17 23:59:00 \\\\\n15 & 12658 & 2 & 2.000000 & 2020-01-19 00:00:00 to 2020-01-27 18:59:00 \\\\\n16 & 4314 & 0 & 1.000000 & 2020-01-28 00:06:00 to 2020-01-30 23:59:00 \\\\\n17 & 150540 & 180 & 3.000000 & 2020-02-01 00:00:00 to 2020-05-15 15:59:00 \\\\\n18 & 9500 & 0 & 1.000000 & 2020-05-16 09:40:00 to 2020-05-22 23:59:00 \\\\\n19 & 2880 & 0 & 1.000000 & 2020-05-26 00:00:00 to 2020-05-27 23:59:00 \\\\\n20 & 3919 & 2 & 3.000000 & 2020-05-29 00:00:00 to 2020-05-31 17:20:00 \\\\\n21 & 2879 & 1 & 2.000000 & 2020-06-12 00:00:00 to 2020-06-13 23:59:00 \\\\\n22 & 12960 & 0 & 1.000000 & 2020-06-15 00:00:00 to 2020-06-23 23:59:00 \\\\\n23 & 20322 & 55 & 2.000000 & 2020-06-25 00:00:00 to 2020-07-09 03:36:00 \\\\\n\\end{tabular}\n'

In [15]:
df_trial = pd.DataFrame()
subsets_trial = prep_for_interp(pm1, ' PM1 (µg/m^3)')
df_trial['non-missing'] = [subset.dropna().shape[0] for subset in prep_for_interp(pm1, ' PM1 (µg/m^3)')]
df_trial['missing'] = index_misisngval_pair(subsets_trial)
df_trial['$\Delta{t}$'] = ind_maxgap_pair(subsets_trial)
df_trial['$\Delta{t}$'] = df_trial['$\Delta{t}$'].round(decimals = 2)
df_trial['date range'] = [subset.index.to_series().astype(str)[0][:-3] + ' to ' +  subset.index.to_series().astype(str)[-1][:-3] for subset in subsets_trial ]
df_trial.index.name = 'Segment'
df_trial

,non-missing,missing,$\Delta{t}$,date range
Segment,,,,
0,23,0,1.0,2019-12-28 06:50 to 2019-12-28 07:12
1,250,0,1.0,2019-12-28 19:13 to 2019-12-28 23:22
2,7,0,1.0,2019-12-29 01:01 to 2019-12-29 01:07
3,28,0,1.0,2019-12-29 01:57 to 2019-12-29 02:24
4,14,0,1.0,2019-12-29 03:00 to 2019-12-29 03:13
5,7,0,1.0,2019-12-29 03:28 to 2019-12-29 03:34
6,21,0,1.0,2019-12-29 04:59 to 2019-12-29 05:19
7,35,0,1.0,2019-12-29 06:02 to 2019-12-29 06:36
8,7,0,1.0,2019-12-29 06:58 to 2019-12-29 07:04
9,46,0,1.0,2019-12-29 08:15 to 2019-12-29 09:00
10,35,0,1.0,2019-12-29 15:25 to 2019-12-29 15:59
11,470,0,1.0,2019-12-29 16:10 to 2019-12-29 23:59
12,25,0,1.0,2019-12-30 00:35 to 2019-12-30 00:59
13,22783,769,8.0,2019-12-30 01:10 to 2020-01-15 09:41
14,3449,0,1.0,2020-01-15 14:31 to 2020-01-17 23:59
15,12660,0,1.0,2020-01-19 00:00 to 2020-01-27 18:59
16,4314,0,1.0,2020-01-28 00:06 to 2020-01-30 23:59
17,150553,167,3.0,2020-02-01 00:00 to 2020-05-15 15:59
18,9500,0,1.0,2020-05-16 09:40 to 2020-05-22 23:59
19,2880,0,1.0,2020-05-26 00:00 to 2020-05-27 23:59
20,3919,2,3.0,2020-05-29 00:00 to 2020-05-31 17:20
21,2879,1,2.0,2020-06-12 00:00 to 2020-06-13 23:59
22,12960,0,1.0,2020-06-15 00:00 to 2020-06-23 23:59
23,20322,55,2.0,2020-06-25 00:00 to 2020-07-09 03:36

In [47]:
df_trial.style.to_latex()

'\\begin{tabular}{lrrrl}\n & non-missing & missing & $\\Delta{t}$ & date range \\\\\nSegment &  &  &  &  \\\\\n0 & 23 & 0 & 1.000000 & 2019-12-28 06:50 to 2019-12-28 07:12 \\\\\n1 & 250 & 0 & 1.000000 & 2019-12-28 19:13 to 2019-12-28 23:22 \\\\\n2 & 7 & 0 & 1.000000 & 2019-12-29 01:01 to 2019-12-29 01:07 \\\\\n3 & 28 & 0 & 1.000000 & 2019-12-29 01:57 to 2019-12-29 02:24 \\\\\n4 & 14 & 0 & 1.000000 & 2019-12-29 03:00 to 2019-12-29 03:13 \\\\\n5 & 7 & 0 & 1.000000 & 2019-12-29 03:28 to 2019-12-29 03:34 \\\\\n6 & 21 & 0 & 1.000000 & 2019-12-29 04:59 to 2019-12-29 05:19 \\\\\n7 & 35 & 0 & 1.000000 & 2019-12-29 06:02 to 2019-12-29 06:36 \\\\\n8 & 7 & 0 & 1.000000 & 2019-12-29 06:58 to 2019-12-29 07:04 \\\\\n9 & 46 & 0 & 1.000000 & 2019-12-29 08:15 to 2019-12-29 09:00 \\\\\n10 & 35 & 0 & 1.000000 & 2019-12-29 15:25 to 2019-12-29 15:59 \\\\\n11 & 470 & 0 & 1.000000 & 2019-12-29 16:10 to 2019-12-29 23:59 \\\\\n12 & 25 & 0 & 1.000000 & 2019-12-30 00:35 to 2019-12-30 00:59 \\\\\n13 & 22783 & 769 & 8.000000 & 2019-12-30 01:10 to 2020-01-15 09:41 \\\\\n14 & 3449 & 0 & 1.000000 & 2020-01-15 14:31 to 2020-01-17 23:59 \\\\\n15 & 12660 & 0 & 1.000000 & 2020-01-19 00:00 to 2020-01-27 18:59 \\\\\n16 & 4314 & 0 & 1.000000 & 2020-01-28 00:06 to 2020-01-30 23:59 \\\\\n17 & 150553 & 167 & 3.000000 & 2020-02-01 00:00 to 2020-05-15 15:59 \\\\\n18 & 9500 & 0 & 1.000000 & 2020-05-16 09:40 to 2020-05-22 23:59 \\\\\n19 & 2880 & 0 & 1.000000 & 2020-05-26 00:00 to 2020-05-27 23:59 \\\\\n20 & 3919 & 2 & 3.000000 & 2020-05-29 00:00 to 2020-05-31 17:20 \\\\\n21 & 2879 & 1 & 2.000000 & 2020-06-12 00:00 to 2020-06-13 23:59 \\\\\n22 & 12960 & 0 & 1.000000 & 2020-06-15 00:00 to 2020-06-23 23:59 \\\\\n23 & 20322 & 55 & 2.000000 & 2020-06-25 00:00 to 2020-07-09 03:36 \\\\\n\\end{tabular}\n'

In [17]:
interp_dict_pm10 = {}

interp_dict_pm10['nearest']  =interpolate_subsets(pm10, ' PM10 (µg/m^3)', interp1d, specify = 'nearest')
interp_dict_pm10['nearest-up']  =interpolate_subsets(pm10, ' PM10 (µg/m^3)', interp1d, specify = 'nearest-up')
interp_dict_pm10['previous']  =interpolate_subsets(pm10, ' PM10 (µg/m^3)', interp1d, specify = 'previous')
interp_dict_pm10['next']  =interpolate_subsets(pm10, ' PM10 (µg/m^3)', interp1d, specify = 'next')
interp_dict_pm10['Linear'] = interpolate_subsets(pm10, ' PM10 (µg/m^3)', interp1d) #linear
interp_dict_pm10['Quadratic']  =interpolate_subsets(pm10, ' PM10 (µg/m^3)', interp1d, specify = 'quadratic')
interp_dict_pm10['CubicSpline']  =interpolate_subsets(pm10, ' PM10 (µg/m^3)', CubicSpline)

In [18]:
interp_dict_pm25 = {}

interp_dict_pm25['nearest']  =interpolate_subsets(pm25, ' PM2.5 (µg/m^3)', interp1d, specify = 'nearest')
interp_dict_pm25['nearest-up']  =interpolate_subsets(pm25, ' PM2.5 (µg/m^3)', interp1d, specify = 'nearest-up')
interp_dict_pm25['previous']  =interpolate_subsets(pm25, ' PM2.5 (µg/m^3)', interp1d, specify = 'previous')
interp_dict_pm25['next']  =interpolate_subsets(pm25, ' PM2.5 (µg/m^3)', interp1d, specify = 'next')
interp_dict_pm25['Linear'] = interpolate_subsets(pm25, ' PM2.5 (µg/m^3)', interp1d) #linear
interp_dict_pm25['Quadratic']  =interpolate_subsets(pm25, ' PM2.5 (µg/m^3)', interp1d, specify = 'quadratic')
interp_dict_pm25['CubicSpline']  =interpolate_subsets(pm25, ' PM2.5 (µg/m^3)', CubicSpline)

In [19]:
interp_dict_pm1 = {}

interp_dict_pm1['nearest']  =interpolate_subsets(pm1, ' PM1 (µg/m^3)', interp1d, specify = 'nearest')
interp_dict_pm1['nearest-up']  =interpolate_subsets(pm1, ' PM1 (µg/m^3)', interp1d, specify = 'nearest-up')
interp_dict_pm1['previous']  =interpolate_subsets(pm1, ' PM1 (µg/m^3)', interp1d, specify = 'previous')
interp_dict_pm1['next']  =interpolate_subsets(pm1, ' PM1 (µg/m^3)', interp1d, specify = 'next')
interp_dict_pm1['Linear'] = interpolate_subsets(pm1, ' PM1 (µg/m^3)', interp1d) #linear
interp_dict_pm1['Quadratic']  =interpolate_subsets(pm1, ' PM1 (µg/m^3)', interp1d, specify = 'quadratic')
interp_dict_pm1['CubicSpline']  =interpolate_subsets(pm1, ' PM1 (µg/m^3)', CubicSpline)

In [20]:
interp_dict_pm10.keys()

dict_keys(['nearest', 'nearest-up', 'previous', 'next', 'Linear', 'Quadratic', 'CubicSpline'])

In [21]:
nmse_pm10= pd.DataFrame()
nmse_pm25= pd.DataFrame()
nmse_pm1= pd.DataFrame()

In [22]:
for key in interp_dict_pm10.keys():
    # if key == 'linear':
    #     continue
    nmse_pm10[key] = [nmse(interp_dict_pm10['Linear'][ind].iloc[:,0].to_numpy() , subset.iloc[:,0].to_numpy()) for ind,subset in enumerate(interp_dict_pm10[key])]

In [23]:
for key in interp_dict_pm25.keys():
    # if key == 'linear':
    #     continue
    nmse_pm25[key] = [nmse(interp_dict_pm25['Linear'][ind].iloc[:,0].to_numpy() , subset.iloc[:,0].to_numpy()) for ind,subset in enumerate(interp_dict_pm25[key])]

In [24]:
for key in interp_dict_pm1.keys():
    # if key == 'linear':
    #     continue
    nmse_pm1[key] = [nmse(interp_dict_pm1['Linear'][ind].iloc[:,0].to_numpy() , subset.iloc[:,0].to_numpy()) for ind,subset in enumerate(interp_dict_pm1[key])]

In [25]:
pm10_row_with_missing = [13,14,15,16,17,18,20,21,22,23]
pm25_row_with_missing = [13,14,15,17,20,21,23]
pm1_row_with_missing = [13,17,20,21,23]

In [27]:
nmse_pm10.index.name = 'Segment'
nmse_pm25.index.name = 'Segment'
nmse_pm1.index.name = 'Segment'
new_col = ['Nearest-down', 'Nearest-up', 'Previous', 'Next', 'Linear', 'Quadratic', 'Cubic Spline']
nmse_pm10.columns = new_col
nmse_pm25.columns = new_col
nmse_pm1.columns = new_col

In [35]:
(nmse_pm10.iloc[pm10_row_with_missing,:].round(decimals = 6)).style.background_gradient(axis = None)

In [36]:
(nmse_pm25.iloc[pm25_row_with_missing,:].round(decimals  = 6)).style.background_gradient(axis = None)

In [37]:
(nmse_pm1.iloc[pm1_row_with_missing, :].round(decimals  = 6)).style.background_gradient(axis = None)

In [44]:
for n in range(len(interp_dict_pm10['Linear']) ):
    interp_dict_pm10['Linear'][n].iloc[:,[0]].to_csv(path +'pm10_interpolated/pm10_interp_seg_'+ str(n)+'.csv')

In [45]:
for n in range(len(interp_dict_pm25['Linear']) ):
    interp_dict_pm25['Linear'][n].iloc[:,[0]].to_csv(path + 'pm25_interpolated/pm25_interp_seg_'+ str(n)+'.csv')

In [46]:
for n in range(len(interp_dict_pm1['Linear']) ):
    interp_dict_pm1['Linear'][n].iloc[:,[0]].to_csv(path + 'pm1_interpolated/pm1_interp_seg_'+ str(n)+'.csv')