In [3]:
!pip install -U scikit-learn

Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.10/site-packages (1.2.2)
Requirement already satisfied: scipy>=1.3.2 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.10/site-packages (from scikit-learn) (1.24.2)

In [2]:
# !pip install seaborn

In [1]:
from matplotlib.ticker import (MultipleLocator, FormatStrFormatter,
                               AutoMinorLocator)
from interp_prep import *

In [2]:
path = r"/cxnfs/Mark/Data/cleaned_data/"
pm10 = pd.read_csv(path + 'pm10_cleaned.csv', index_col = 0, parse_dates = True)
pm25 = pd.read_csv(path + 'pm25_cleaned.csv', index_col = 0, parse_dates = True)
pm1 = pd.read_csv(path+'pm1_cleaned.csv', index_col = 0, parse_dates = True)

In [4]:
#The normalized MSE allows you to compare the error for sets with vary different value ranges
def nmse(y_true, y_pred):
    differences = (y_true - y_pred)/y_true                      
    differences_squared = differences ** 2                    
    mean_of_differences_squared = np.mean(differences_squared)         
    return mean_of_differences_squared

In [13]:
df_trial = pd.DataFrame()
subsets_trial = prep_for_interp(pm10, ' PM10 (µg/m^3)')
df_trial['non missing '] = [subset.dropna().shape[0] for subset in prep_for_interp(pm10, ' PM10 (µg/m^3)')]
df_trial['missing'] = index_misisngval_pair(subsets_trial)
df_trial['max time difference'] = ind_maxgap_pair(subsets_trial)
df_trial['max time difference'] = df_trial['max time difference'].round(decimals = 2)
df_trial['date range'] = [subset.index.to_series().astype(str)[0] + ' to ' +  subset.index.to_series().astype(str)[-1] for subset in prep_for_interp(pm10, ' PM10 (µg/m^3)')]
df_trial['sample interval (days)'] = [(subset.index[-1] - subset.index[0])/np.timedelta64(1, 'D') for subset in subsets_trial]
df_trial.index.name = 'Segment'
df_trial['sample interval (days)'] = df_trial['sample interval (days)'].round(decimals = 2)
df_trial

,non missing,missing,max time difference,date range,sample interval (days)
Segment,,,,,
0,23,0,1.0,2019-12-28 06:50:00 to 2019-12-28 07:12:00,0.02
1,250,0,1.0,2019-12-28 19:13:00 to 2019-12-28 23:22:00,0.17
2,7,0,1.0,2019-12-29 01:01:00 to 2019-12-29 01:07:00,0.00
3,28,0,1.0,2019-12-29 01:57:00 to 2019-12-29 02:24:00,0.02
4,14,0,1.0,2019-12-29 03:00:00 to 2019-12-29 03:13:00,0.01
5,7,0,1.0,2019-12-29 03:28:00 to 2019-12-29 03:34:00,0.00
6,21,0,1.0,2019-12-29 04:59:00 to 2019-12-29 05:19:00,0.01
7,35,0,1.0,2019-12-29 06:02:00 to 2019-12-29 06:36:00,0.02
8,7,0,1.0,2019-12-29 06:58:00 to 2019-12-29 07:04:00,0.00
9,46,0,1.0,2019-12-29 08:15:00 to 2019-12-29 09:00:00,0.03
10,35,0,1.0,2019-12-29 15:25:00 to 2019-12-29 15:59:00,0.02
11,470,0,1.0,2019-12-29 16:10:00 to 2019-12-29 23:59:00,0.33
12,25,0,1.0,2019-12-30 00:35:00 to 2019-12-30 00:59:00,0.02
13,22761,791,8.0,2019-12-30 01:10:00 to 2020-01-15 09:41:00,16.35
14,3441,8,2.0,2020-01-15 14:31:00 to 2020-01-17 23:59:00,2.39
15,12636,24,2.0,2020-01-19 00:00:00 to 2020-01-27 18:59:00,8.79
16,4305,9,2.0,2020-01-28 00:06:00 to 2020-01-30 23:59:00,3.00
17,150402,318,3.0,2020-02-01 00:00:00 to 2020-05-15 15:59:00,104.67
18,9498,2,2.0,2020-05-16 09:40:00 to 2020-05-22 23:59:00,6.60
19,2880,0,1.0,2020-05-26 00:00:00 to 2020-05-27 23:59:00,2.00
20,3919,2,3.0,2020-05-29 00:00:00 to 2020-05-31 17:20:00,2.72
21,2879,1,2.0,2020-06-12 00:00:00 to 2020-06-13 23:59:00,2.00
22,12956,4,2.0,2020-06-15 00:00:00 to 2020-06-23 23:59:00,9.00
23,20318,59,2.0,2020-06-25 00:00:00 to 2020-07-09 03:36:00,14.15

In [35]:
# converting df_trial (for pm10) to latex
df_trial.style.to_latex()

'\\begin{tabular}{lrrrlr}\n & non missing  & missing & max time difference & date range & sample interval (days) \\\\\nSegment &  &  &  &  &  \\\\\n0 & 23 & 0 & 1.000000 & 2019-12-28 06:50:00 to 2019-12-28 07:12:00 & 0.020000 \\\\\n1 & 250 & 0 & 1.000000 & 2019-12-28 19:13:00 to 2019-12-28 23:22:00 & 0.170000 \\\\\n2 & 7 & 0 & 1.000000 & 2019-12-29 01:01:00 to 2019-12-29 01:07:00 & 0.000000 \\\\\n3 & 28 & 0 & 1.000000 & 2019-12-29 01:57:00 to 2019-12-29 02:24:00 & 0.020000 \\\\\n4 & 14 & 0 & 1.000000 & 2019-12-29 03:00:00 to 2019-12-29 03:13:00 & 0.010000 \\\\\n5 & 7 & 0 & 1.000000 & 2019-12-29 03:28:00 to 2019-12-29 03:34:00 & 0.000000 \\\\\n6 & 21 & 0 & 1.000000 & 2019-12-29 04:59:00 to 2019-12-29 05:19:00 & 0.010000 \\\\\n7 & 35 & 0 & 1.000000 & 2019-12-29 06:02:00 to 2019-12-29 06:36:00 & 0.020000 \\\\\n8 & 7 & 0 & 1.000000 & 2019-12-29 06:58:00 to 2019-12-29 07:04:00 & 0.000000 \\\\\n9 & 46 & 0 & 1.000000 & 2019-12-29 08:15:00 to 2019-12-29 09:00:00 & 0.030000 \\\\\n10 & 35 & 0 & 1.000000 & 2019-12-29 15:25:00 to 2019-12-29 15:59:00 & 0.020000 \\\\\n11 & 470 & 0 & 1.000000 & 2019-12-29 16:10:00 to 2019-12-29 23:59:00 & 0.330000 \\\\\n12 & 25 & 0 & 1.000000 & 2019-12-30 00:35:00 to 2019-12-30 00:59:00 & 0.020000 \\\\\n13 & 22762 & 790 & 8.000000 & 2019-12-30 01:10:00 to 2020-01-15 09:41:00 & 16.350000 \\\\\n14 & 3441 & 8 & 2.000000 & 2020-01-15 14:31:00 to 2020-01-17 23:59:00 & 2.390000 \\\\\n15 & 12636 & 24 & 2.000000 & 2020-01-19 00:00:00 to 2020-01-27 18:59:00 & 8.790000 \\\\\n16 & 4305 & 9 & 2.000000 & 2020-01-28 00:06:00 to 2020-01-30 23:59:00 & 3.000000 \\\\\n17 & 150402 & 318 & 3.000000 & 2020-02-01 00:00:00 to 2020-05-15 15:59:00 & 104.670000 \\\\\n18 & 9498 & 2 & 2.000000 & 2020-05-16 09:40:00 to 2020-05-22 23:59:00 & 6.600000 \\\\\n19 & 2880 & 0 & 1.000000 & 2020-05-26 00:00:00 to 2020-05-27 23:59:00 & 2.000000 \\\\\n20 & 3919 & 2 & 3.000000 & 2020-05-29 00:00:00 to 2020-05-31 17:20:00 & 2.720000 \\\\\n21 & 2879 & 1 & 2.000000 & 2020-06-12 00:00:00 to 2020-06-13 23:59:00 & 2.000000 \\\\\n22 & 12956 & 4 & 2.000000 & 2020-06-15 00:00:00 to 2020-06-23 23:59:00 & 9.000000 \\\\\n23 & 20318 & 59 & 2.000000 & 2020-06-25 00:00:00 to 2020-07-09 03:36:00 & 14.150000 \\\\\n\\end{tabular}\n'

In [14]:
df_trial = pd.DataFrame()
subsets_trial = prep_for_interp(pm25, ' PM2.5 (µg/m^3)')
df_trial['non-missing'] = [subset.dropna().shape[0] for subset in prep_for_interp(pm25, ' PM2.5 (µg/m^3)')]
df_trial[' missing'] = index_misisngval_pair(subsets_trial)
df_trial['$\Delta{t}$'] = ind_maxgap_pair(subsets_trial)
df_trial['$\Delta{t}$'] = df_trial['$\Delta{t}$'].round(decimals = 2)
df_trial['date range'] = [subset.index.to_series().astype(str)[0] + ' to ' +  subset.index.to_series().astype(str)[-1] for subset in prep_for_interp(pm25, ' PM2.5 (µg/m^3)')]
df_trial.index.name = 'Segment'
df_trial

,non-missing,missing,$\Delta{t}$,date range
Segment,,,,
0,23,0,1.0,2019-12-28 06:50:00 to 2019-12-28 07:12:00
1,250,0,1.0,2019-12-28 19:13:00 to 2019-12-28 23:22:00
2,7,0,1.0,2019-12-29 01:01:00 to 2019-12-29 01:07:00
3,28,0,1.0,2019-12-29 01:57:00 to 2019-12-29 02:24:00
4,14,0,1.0,2019-12-29 03:00:00 to 2019-12-29 03:13:00
5,7,0,1.0,2019-12-29 03:28:00 to 2019-12-29 03:34:00
6,21,0,1.0,2019-12-29 04:59:00 to 2019-12-29 05:19:00
7,35,0,1.0,2019-12-29 06:02:00 to 2019-12-29 06:36:00
8,7,0,1.0,2019-12-29 06:58:00 to 2019-12-29 07:04:00
9,46,0,1.0,2019-12-29 08:15:00 to 2019-12-29 09:00:00
10,35,0,1.0,2019-12-29 15:25:00 to 2019-12-29 15:59:00
11,470,0,1.0,2019-12-29 16:10:00 to 2019-12-29 23:59:00
12,25,0,1.0,2019-12-30 00:35:00 to 2019-12-30 00:59:00
13,22783,769,8.0,2019-12-30 01:10:00 to 2020-01-15 09:41:00
14,3448,1,2.0,2020-01-15 14:31:00 to 2020-01-17 23:59:00
15,12658,2,2.0,2020-01-19 00:00:00 to 2020-01-27 18:59:00
16,4314,0,1.0,2020-01-28 00:06:00 to 2020-01-30 23:59:00
17,150540,180,3.0,2020-02-01 00:00:00 to 2020-05-15 15:59:00
18,9500,0,1.0,2020-05-16 09:40:00 to 2020-05-22 23:59:00
19,2880,0,1.0,2020-05-26 00:00:00 to 2020-05-27 23:59:00
20,3919,2,3.0,2020-05-29 00:00:00 to 2020-05-31 17:20:00
21,2879,1,2.0,2020-06-12 00:00:00 to 2020-06-13 23:59:00
22,12960,0,1.0,2020-06-15 00:00:00 to 2020-06-23 23:59:00
23,20322,55,2.0,2020-06-25 00:00:00 to 2020-07-09 03:36:00

In [40]:
df_trial.style.to_latex()

'\\begin{tabular}{lrrrl}\n & non-missing &  missing & $\\Delta{t}$ & date range \\\\\nSegment &  &  &  &  \\\\\n0 & 23 & 0 & 1.000000 & 2019-12-28 06:50:00 to 2019-12-28 07:12:00 \\\\\n1 & 250 & 0 & 1.000000 & 2019-12-28 19:13:00 to 2019-12-28 23:22:00 \\\\\n2 & 7 & 0 & 1.000000 & 2019-12-29 01:01:00 to 2019-12-29 01:07:00 \\\\\n3 & 28 & 0 & 1.000000 & 2019-12-29 01:57:00 to 2019-12-29 02:24:00 \\\\\n4 & 14 & 0 & 1.000000 & 2019-12-29 03:00:00 to 2019-12-29 03:13:00 \\\\\n5 & 7 & 0 & 1.000000 & 2019-12-29 03:28:00 to 2019-12-29 03:34:00 \\\\\n6 & 21 & 0 & 1.000000 & 2019-12-29 04:59:00 to 2019-12-29 05:19:00 \\\\\n7 & 35 & 0 & 1.000000 & 2019-12-29 06:02:00 to 2019-12-29 06:36:00 \\\\\n8 & 7 & 0 & 1.000000 & 2019-12-29 06:58:00 to 2019-12-29 07:04:00 \\\\\n9 & 46 & 0 & 1.000000 & 2019-12-29 08:15:00 to 2019-12-29 09:00:00 \\\\\n10 & 35 & 0 & 1.000000 & 2019-12-29 15:25:00 to 2019-12-29 15:59:00 \\\\\n11 & 470 & 0 & 1.000000 & 2019-12-29 16:10:00 to 2019-12-29 23:59:00 \\\\\n12 & 25 & 0 & 1.000000 & 2019-12-30 00:35:00 to 2019-12-30 00:59:00 \\\\\n13 & 22783 & 769 & 8.000000 & 2019-12-30 01:10:00 to 2020-01-15 09:41:00 \\\\\n14 & 3448 & 1 & 2.000000 & 2020-01-15 14:31:00 to 2020-01-17 23:59:00 \\\\\n15 & 12658 & 2 & 2.000000 & 2020-01-19 00:00:00 to 2020-01-27 18:59:00 \\\\\n16 & 4314 & 0 & 1.000000 & 2020-01-28 00:06:00 to 2020-01-30 23:59:00 \\\\\n17 & 150540 & 180 & 3.000000 & 2020-02-01 00:00:00 to 2020-05-15 15:59:00 \\\\\n18 & 9500 & 0 & 1.000000 & 2020-05-16 09:40:00 to 2020-05-22 23:59:00 \\\\\n19 & 2880 & 0 & 1.000000 & 2020-05-26 00:00:00 to 2020-05-27 23:59:00 \\\\\n20 & 3919 & 2 & 3.000000 & 2020-05-29 00:00:00 to 2020-05-31 17:20:00 \\\\\n21 & 2879 & 1 & 2.000000 & 2020-06-12 00:00:00 to 2020-06-13 23:59:00 \\\\\n22 & 12960 & 0 & 1.000000 & 2020-06-15 00:00:00 to 2020-06-23 23:59:00 \\\\\n23 & 20322 & 55 & 2.000000 & 2020-06-25 00:00:00 to 2020-07-09 03:36:00 \\\\\n\\end{tabular}\n'

In [15]:
df_trial = pd.DataFrame()
subsets_trial = prep_for_interp(pm1, ' PM1 (µg/m^3)')
df_trial['non-missing'] = [subset.dropna().shape[0] for subset in prep_for_interp(pm1, ' PM1 (µg/m^3)')]
df_trial['missing'] = index_misisngval_pair(subsets_trial)
df_trial['$\Delta{t}$'] = ind_maxgap_pair(subsets_trial)
df_trial['$\Delta{t}$'] = df_trial['$\Delta{t}$'].round(decimals = 2)
df_trial['date range'] = [subset.index.to_series().astype(str)[0][:-3] + ' to ' +  subset.index.to_series().astype(str)[-1][:-3] for subset in subsets_trial ]
df_trial.index.name = 'Segment'
df_trial

,non-missing,missing,$\Delta{t}$,date range
Segment,,,,
0,23,0,1.0,2019-12-28 06:50 to 2019-12-28 07:12
1,250,0,1.0,2019-12-28 19:13 to 2019-12-28 23:22
2,7,0,1.0,2019-12-29 01:01 to 2019-12-29 01:07
3,28,0,1.0,2019-12-29 01:57 to 2019-12-29 02:24
4,14,0,1.0,2019-12-29 03:00 to 2019-12-29 03:13
5,7,0,1.0,2019-12-29 03:28 to 2019-12-29 03:34
6,21,0,1.0,2019-12-29 04:59 to 2019-12-29 05:19
7,35,0,1.0,2019-12-29 06:02 to 2019-12-29 06:36
8,7,0,1.0,2019-12-29 06:58 to 2019-12-29 07:04
9,46,0,1.0,2019-12-29 08:15 to 2019-12-29 09:00
10,35,0,1.0,2019-12-29 15:25 to 2019-12-29 15:59
11,470,0,1.0,2019-12-29 16:10 to 2019-12-29 23:59
12,25,0,1.0,2019-12-30 00:35 to 2019-12-30 00:59
13,22783,769,8.0,2019-12-30 01:10 to 2020-01-15 09:41
14,3449,0,1.0,2020-01-15 14:31 to 2020-01-17 23:59
15,12660,0,1.0,2020-01-19 00:00 to 2020-01-27 18:59
16,4314,0,1.0,2020-01-28 00:06 to 2020-01-30 23:59
17,150553,167,3.0,2020-02-01 00:00 to 2020-05-15 15:59
18,9500,0,1.0,2020-05-16 09:40 to 2020-05-22 23:59
19,2880,0,1.0,2020-05-26 00:00 to 2020-05-27 23:59
20,3919,2,3.0,2020-05-29 00:00 to 2020-05-31 17:20
21,2879,1,2.0,2020-06-12 00:00 to 2020-06-13 23:59
22,12960,0,1.0,2020-06-15 00:00 to 2020-06-23 23:59
23,20322,55,2.0,2020-06-25 00:00 to 2020-07-09 03:36

In [47]:
df_trial.style.to_latex()

'\\begin{tabular}{lrrrl}\n & non-missing & missing & $\\Delta{t}$ & date range \\\\\nSegment &  &  &  &  \\\\\n0 & 23 & 0 & 1.000000 & 2019-12-28 06:50 to 2019-12-28 07:12 \\\\\n1 & 250 & 0 & 1.000000 & 2019-12-28 19:13 to 2019-12-28 23:22 \\\\\n2 & 7 & 0 & 1.000000 & 2019-12-29 01:01 to 2019-12-29 01:07 \\\\\n3 & 28 & 0 & 1.000000 & 2019-12-29 01:57 to 2019-12-29 02:24 \\\\\n4 & 14 & 0 & 1.000000 & 2019-12-29 03:00 to 2019-12-29 03:13 \\\\\n5 & 7 & 0 & 1.000000 & 2019-12-29 03:28 to 2019-12-29 03:34 \\\\\n6 & 21 & 0 & 1.000000 & 2019-12-29 04:59 to 2019-12-29 05:19 \\\\\n7 & 35 & 0 & 1.000000 & 2019-12-29 06:02 to 2019-12-29 06:36 \\\\\n8 & 7 & 0 & 1.000000 & 2019-12-29 06:58 to 2019-12-29 07:04 \\\\\n9 & 46 & 0 & 1.000000 & 2019-12-29 08:15 to 2019-12-29 09:00 \\\\\n10 & 35 & 0 & 1.000000 & 2019-12-29 15:25 to 2019-12-29 15:59 \\\\\n11 & 470 & 0 & 1.000000 & 2019-12-29 16:10 to 2019-12-29 23:59 \\\\\n12 & 25 & 0 & 1.000000 & 2019-12-30 00:35 to 2019-12-30 00:59 \\\\\n13 & 22783 & 769 & 8.000000 & 2019-12-30 01:10 to 2020-01-15 09:41 \\\\\n14 & 3449 & 0 & 1.000000 & 2020-01-15 14:31 to 2020-01-17 23:59 \\\\\n15 & 12660 & 0 & 1.000000 & 2020-01-19 00:00 to 2020-01-27 18:59 \\\\\n16 & 4314 & 0 & 1.000000 & 2020-01-28 00:06 to 2020-01-30 23:59 \\\\\n17 & 150553 & 167 & 3.000000 & 2020-02-01 00:00 to 2020-05-15 15:59 \\\\\n18 & 9500 & 0 & 1.000000 & 2020-05-16 09:40 to 2020-05-22 23:59 \\\\\n19 & 2880 & 0 & 1.000000 & 2020-05-26 00:00 to 2020-05-27 23:59 \\\\\n20 & 3919 & 2 & 3.000000 & 2020-05-29 00:00 to 2020-05-31 17:20 \\\\\n21 & 2879 & 1 & 2.000000 & 2020-06-12 00:00 to 2020-06-13 23:59 \\\\\n22 & 12960 & 0 & 1.000000 & 2020-06-15 00:00 to 2020-06-23 23:59 \\\\\n23 & 20322 & 55 & 2.000000 & 2020-06-25 00:00 to 2020-07-09 03:36 \\\\\n\\end{tabular}\n'

In [ ]:
# with open('pm25_seg_tab.txt', 'w') as f:
#     f.writelines([str(segment)+ ' & ' +''.join([n.split(' ')[0]+' to '+ n.split(' ')[-2] if (ind == 3)else n+' & ' for ind, n in enumerate(list(df_trial.iloc[segment,:].to_numpy().astype(str))) ]) + ' \n'
#                   for segment in range(df_trial.shape[0])])
#     f.write('end!')

In [99]:
# with open('pm1_seg_tab.txt', 'w') as f:
#     f.writelines([str(segment)+ ' & ' +''.join([n.split(' ')[0]+' to '+ n.split(' ')[-2] if (ind == 3)else n+' & ' for ind, n in enumerate(list(df_trial.iloc[segment,:].to_numpy().astype(str))) ]) + ' \n'
#                   for segment in range(df_trial.shape[0])])
#     f.write('end!')

In [17]:
interp_dict_pm10 = {}

interp_dict_pm10['nearest']  =interpolate_subsets(pm10, ' PM10 (µg/m^3)', interp1d, specify = 'nearest')
interp_dict_pm10['nearest-up']  =interpolate_subsets(pm10, ' PM10 (µg/m^3)', interp1d, specify = 'nearest-up')
interp_dict_pm10['previous']  =interpolate_subsets(pm10, ' PM10 (µg/m^3)', interp1d, specify = 'previous')
interp_dict_pm10['next']  =interpolate_subsets(pm10, ' PM10 (µg/m^3)', interp1d, specify = 'next')
interp_dict_pm10['Linear'] = interpolate_subsets(pm10, ' PM10 (µg/m^3)', interp1d) #linear
interp_dict_pm10['Quadratic']  =interpolate_subsets(pm10, ' PM10 (µg/m^3)', interp1d, specify = 'quadratic')
interp_dict_pm10['CubicSpline']  =interpolate_subsets(pm10, ' PM10 (µg/m^3)', CubicSpline)

In [18]:
interp_dict_pm25 = {}

interp_dict_pm25['nearest']  =interpolate_subsets(pm25, ' PM2.5 (µg/m^3)', interp1d, specify = 'nearest')
interp_dict_pm25['nearest-up']  =interpolate_subsets(pm25, ' PM2.5 (µg/m^3)', interp1d, specify = 'nearest-up')
interp_dict_pm25['previous']  =interpolate_subsets(pm25, ' PM2.5 (µg/m^3)', interp1d, specify = 'previous')
interp_dict_pm25['next']  =interpolate_subsets(pm25, ' PM2.5 (µg/m^3)', interp1d, specify = 'next')
interp_dict_pm25['Linear'] = interpolate_subsets(pm25, ' PM2.5 (µg/m^3)', interp1d) #linear
interp_dict_pm25['Quadratic']  =interpolate_subsets(pm25, ' PM2.5 (µg/m^3)', interp1d, specify = 'quadratic')
interp_dict_pm25['CubicSpline']  =interpolate_subsets(pm25, ' PM2.5 (µg/m^3)', CubicSpline)

In [19]:
interp_dict_pm1 = {}

interp_dict_pm1['nearest']  =interpolate_subsets(pm1, ' PM1 (µg/m^3)', interp1d, specify = 'nearest')
interp_dict_pm1['nearest-up']  =interpolate_subsets(pm1, ' PM1 (µg/m^3)', interp1d, specify = 'nearest-up')
interp_dict_pm1['previous']  =interpolate_subsets(pm1, ' PM1 (µg/m^3)', interp1d, specify = 'previous')
interp_dict_pm1['next']  =interpolate_subsets(pm1, ' PM1 (µg/m^3)', interp1d, specify = 'next')
interp_dict_pm1['Linear'] = interpolate_subsets(pm1, ' PM1 (µg/m^3)', interp1d) #linear
interp_dict_pm1['Quadratic']  =interpolate_subsets(pm1, ' PM1 (µg/m^3)', interp1d, specify = 'quadratic')
interp_dict_pm1['CubicSpline']  =interpolate_subsets(pm1, ' PM1 (µg/m^3)', CubicSpline)

In [20]:
interp_dict_pm10.keys()

dict_keys(['nearest', 'nearest-up', 'previous', 'next', 'Linear', 'Quadratic', 'CubicSpline'])

In [21]:
nmse_pm10= pd.DataFrame()
nmse_pm25= pd.DataFrame()
nmse_pm1= pd.DataFrame()

In [22]:
for key in interp_dict_pm10.keys():
    # if key == 'linear':
    #     continue
    nmse_pm10[key] = [nmse(interp_dict_pm10['Linear'][ind].iloc[:,0].to_numpy() , subset.iloc[:,0].to_numpy()) for ind,subset in enumerate(interp_dict_pm10[key])]

In [23]:
for key in interp_dict_pm25.keys():
    # if key == 'linear':
    #     continue
    nmse_pm25[key] = [nmse(interp_dict_pm25['Linear'][ind].iloc[:,0].to_numpy() , subset.iloc[:,0].to_numpy()) for ind,subset in enumerate(interp_dict_pm25[key])]

In [24]:
for key in interp_dict_pm1.keys():
    # if key == 'linear':
    #     continue
    nmse_pm1[key] = [nmse(interp_dict_pm1['Linear'][ind].iloc[:,0].to_numpy() , subset.iloc[:,0].to_numpy()) for ind,subset in enumerate(interp_dict_pm1[key])]

In [25]:
pm10_row_with_missing = [13,14,15,16,17,18,20,21,22,23]
pm25_row_with_missing = [13,14,15,17,20,21,23]
pm1_row_with_missing = [13,17,20,21,23]

In [26]:
nmse_pm10.columns

Index(['nearest', 'nearest-up', 'previous', 'next', 'Linear', 'Quadratic',
       'CubicSpline'],
      dtype='object')

In [23]:
['Nearest-down', 'Nearest-up', 'Previous', 'Next', 'Linear', 'Quadratic', 'CubicSpline', 'Monotonic CubicSpline']

['Nearest-down',
 'Nearest-up',
 'Previous',
 'Next',
 'Linear',
 'Quadratic',
 'CubicSpline',
 'Monotonic CubicSpline']

In [27]:
nmse_pm10.index.name = 'Segment'
nmse_pm25.index.name = 'Segment'
nmse_pm1.index.name = 'Segment'
new_col = ['Nearest-down', 'Nearest-up', 'Previous', 'Next', 'Linear', 'Quadratic', 'Cubic Spline']
nmse_pm10.columns = new_col
nmse_pm25.columns = new_col
nmse_pm1.columns = new_col

In [28]:
nmse_pm10.iloc[pm10_row_with_missing,:]

,Nearest-down,Nearest-up,Previous,Next,Linear,Quadratic,Cubic Spline
Segment,,,,,,,
13,0.001415,0.001415,0.001492,0.001573,0.0,1.121909e-03,1.707762e-03
14,0.000188,0.000188,0.000188,0.000188,0.0,2.229450e-05,3.746592e-05
15,0.000355,0.000355,0.000355,0.000355,0.0,9.258433e-04,1.361133e-03
16,0.000036,0.000036,0.000036,0.000036,0.0,3.001663e-05,4.640430e-05
17,0.000156,0.000156,0.000156,0.000156,0.0,3.281919e-04,3.961377e-04
18,0.000003,0.000003,0.000003,0.000003,0.0,1.429840e-06,1.923141e-06
20,0.000025,0.000025,0.000072,0.000055,0.0,1.178462e-05,1.914557e-05
21,0.000008,0.000008,0.000008,0.000008,0.0,2.054360e-08,2.533878e-08
22,0.000006,0.000006,0.000006,0.000006,0.0,6.501209e-05,9.373678e-05
23,0.000229,0.000229,0.000229,0.000229,0.0,1.162364e-04,1.686997e-04

In [35]:
(nmse_pm10.iloc[pm10_row_with_missing,:].round(decimals = 6)).style.background_gradient(axis = None)

In [36]:
(nmse_pm25.iloc[pm25_row_with_missing,:].round(decimals  = 6)).style.background_gradient(axis = None)

In [37]:
(nmse_pm1.iloc[pm1_row_with_missing, :].round(decimals  = 6)).style.background_gradient(axis = None)

In [28]:
import time
def interp_tot_time(data, col, segment_list, interp_func, specify = None):
    subset_list = prep_for_interp(data, col)
    x = 0
    for ind, data in enumerate(subset_list):
        if not(ind in segment_list):
            continue
        start_time = time.perf_counter()
        interp(data,interp_func, specify = specify)
        end_time = time.perf_counter()
        x+= (end_time - start_time)
    return x

In [29]:
interp_dict_pm10.keys()

dict_keys(['nearest', 'nearest-up', 'previous', 'next', 'Linear', 'Quadratic', 'CubicSpline', 'Monotonic CubicSpline'])

In [30]:
pm10_row_with_missing

[13, 14, 15, 16, 17, 18, 20, 21, 22, 23]

In [31]:
pm10_time_dict = {}
for key in ['nearest', 'nearest-up', 'previous', 'next', 'linear', 'quadratic']:
    pm10_time_dict[key] = interp_tot_time(pm10, ' PM10 (µg/m^3)', pm10_row_with_missing, interp1d, specify = key)
pm10_time_dict['CubicSpline'] = interp_tot_time(pm10, ' PM10 (µg/m^3)', pm10_row_with_missing, CubicSpline)
pm10_time_dict['Monotonic CubicSpline'] = interp_tot_time(pm10, ' PM10 (µg/m^3)', pm10_row_with_missing, PchipInterpolator)
    
    
pm25_time_dict = {}
for key in ['nearest', 'nearest-up', 'previous', 'next', 'linear', 'quadratic']:
    pm25_time_dict[key] = interp_tot_time(pm25, ' PM2.5 (µg/m^3)', pm25_row_with_missing, interp1d, specify = key)
pm25_time_dict['CubicSpline'] = interp_tot_time(pm25, ' PM2.5 (µg/m^3)', pm25_row_with_missing, CubicSpline)
pm25_time_dict['Monotonic CubicSpline'] = interp_tot_time(pm25, ' PM2.5 (µg/m^3)', pm25_row_with_missing, PchipInterpolator)

pm1_time_dict = {}
for key in ['nearest', 'nearest-up', 'previous', 'next', 'linear', 'quadratic']:
    pm1_time_dict[key] = interp_tot_time(pm1, ' PM1 (µg/m^3)', pm1_row_with_missing, interp1d, specify = key)
pm1_time_dict['CubicSpline'] = interp_tot_time(pm1, ' PM1 (µg/m^3)', pm1_row_with_missing, CubicSpline)
pm1_time_dict['Monotonic CubicSpline'] = interp_tot_time(pm1, ' PM1 (µg/m^3)', pm1_row_with_missing, PchipInterpolator)

In [32]:
pm10_time_dict

{'nearest': 0.04127058945596218,
 'nearest-up': 0.04200206696987152,
 'previous': 0.04399903677403927,
 'next': 0.04787391796708107,
 'linear': 0.029182109981775284,
 'quadratic': 0.12095784768462181,
 'CubicSpline': 0.0790473185479641,
 'Monotonic CubicSpline': 0.0754303578287363}

In [33]:
pm25_time_dict

{'nearest': 0.033892927691340446,
 'nearest-up': 0.03482015058398247,
 'previous': 0.03713916800916195,
 'next': 0.036710258573293686,
 'linear': 0.02347920835018158,
 'quadratic': 0.10436588525772095,
 'CubicSpline': 0.06612829118967056,
 'Monotonic CubicSpline': 0.06441285274922848}

In [34]:
pm1_time_dict

{'nearest': 0.02961541898548603,
 'nearest-up': 0.029533708468079567,
 'previous': 0.031826192513108253,
 'next': 0.03152388148009777,
 'linear': 0.020072106271982193,
 'quadratic': 0.0923705492168665,
 'CubicSpline': 0.05842198431491852,
 'Monotonic CubicSpline': 0.05473415181040764}

In [35]:
pm1_time_dict.keys()

dict_keys(['nearest', 'nearest-up', 'previous', 'next', 'linear', 'quadratic', 'CubicSpline', 'Monotonic CubicSpline'])

In [36]:
list(pm10_time_dict.values())

[0.04127058945596218,
 0.04200206696987152,
 0.04399903677403927,
 0.04787391796708107,
 0.029182109981775284,
 0.12095784768462181,
 0.0790473185479641,
 0.0754303578287363]

In [37]:
time_df = pd.DataFrame(index = ['PM10', 'PM2.5', 'PM1'], columns = list(pm1_time_dict.keys()))

time_df.iloc[0,:] = list(pm10_time_dict.values())
time_df.iloc[1,:] = list(pm25_time_dict.values())
time_df.iloc[2,:] = list(pm1_time_dict.values())

In [47]:
time_df

,nearest,nearest-up,previous,next,linear,quadratic,CubicSpline,Monotonic CubicSpline
PM10,0.041271,0.042002,0.043999,0.047874,0.029182,0.120958,0.079047,0.07543
PM2.5,0.033893,0.03482,0.037139,0.03671,0.023479,0.104366,0.066128,0.064413
PM1,0.029615,0.029534,0.031826,0.031524,0.020072,0.092371,0.058422,0.054734

In [69]:
time_df.transpose()

                           PM10     PM2.5       PM1
nearest                0.041271  0.033893  0.029615
nearest-up             0.042002   0.03482  0.029534
previous               0.043999  0.037139  0.031826
next                   0.047874   0.03671  0.031524
linear                 0.029182  0.023479  0.020072
quadratic              0.120958  0.104366  0.092371
CubicSpline            0.079047  0.066128  0.058422
Monotonic CubicSpline   0.07543  0.064413  0.054734

In [73]:
list(time_df.transpose().index)

['nearest',
 'nearest-up',
 'previous',
 'next',
 'linear',
 'quadratic',
 'CubicSpline',
 'Monotonic CubicSpline']

In [70]:
time_df.transpose().to_numpy()

array([[0.04127058945596218, 0.033892927691340446, 0.02961541898548603],
       [0.04200206696987152, 0.03482015058398247, 0.029533708468079567],
       [0.04399903677403927, 0.03713916800916195, 0.031826192513108253],
       [0.04787391796708107, 0.036710258573293686, 0.03152388148009777],
       [0.029182109981775284, 0.02347920835018158, 0.020072106271982193],
       [0.12095784768462181, 0.10436588525772095, 0.0923705492168665],
       [0.0790473185479641, 0.06612829118967056, 0.05842198431491852],
       [0.0754303578287363, 0.06441285274922848, 0.05473415181040764]],
      dtype=object)

In [82]:
np.round(time_df.transpose().to_numpy()[7].astype(float), decimals = 6)

array([0.07543 , 0.064413, 0.054734])

In [46]:
time_df.to_numpy()

array([[0.04127058945596218, 0.04200206696987152, 0.04399903677403927,
        0.04787391796708107, 0.029182109981775284, 0.12095784768462181,
        0.0790473185479641, 0.0754303578287363],
       [0.033892927691340446, 0.03482015058398247, 0.03713916800916195,
        0.036710258573293686, 0.02347920835018158, 0.10436588525772095,
        0.06612829118967056, 0.06441285274922848],
       [0.02961541898548603, 0.029533708468079567, 0.031826192513108253,
        0.03152388148009777, 0.020072106271982193, 0.0923705492168665,
        0.05842198431491852, 0.05473415181040764]], dtype=object)

In [67]:
np.round(time_df.to_numpy()[2].astype(float), decimals = 6)

array([0.029615, 0.029534, 0.031826, 0.031524, 0.020072, 0.092371,
       0.058422, 0.054734])

In [43]:
path

'/cxnfs/Mark/Data/cleaned_data/'

In [44]:
for n in range(len(interp_dict_pm10['Linear']) ):
    interp_dict_pm10['Linear'][n].iloc[:,[0]].to_csv(path +'pm10_interpolated/pm10_interp_seg_'+ str(n)+'.csv')

In [45]:
for n in range(len(interp_dict_pm25['Linear']) ):
    interp_dict_pm25['Linear'][n].iloc[:,[0]].to_csv(path + 'pm25_interpolated/pm25_interp_seg_'+ str(n)+'.csv')

In [46]:
for n in range(len(interp_dict_pm1['Linear']) ):
    interp_dict_pm1['Linear'][n].iloc[:,[0]].to_csv(path + 'pm1_interpolated/pm1_interp_seg_'+ str(n)+'.csv')